.img {
  @include imagen(20rem);
}

.mainInterno img {
  @extend .img;
  display: grid;
  margin: 0 auto;
  border-radius: 5%;
  box-shadow: 5px 5px 5px gray;
}

.icon {
  @include imagen(7rem);
}

.icon:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
