.img {
  @include imagen(20rem)
}

.carrousel {
  .imgCarrousel {
    width: 100%;
    height: 20rem;
  }
}

.mainInterno img {
  @extend .img;
  display: grid;
  margin: 0 auto;
}

.icon{
  @include imagen(10rem)
}
