@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Roboto:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&family=Playfair+Display:ital@1&family=Roboto:ital@1&display=swap");


p {
  font-family: "Roboto", sans-serif;
  font-size: $sizeP;
}

.bg {
  a {
    font-family: "Jost", sans-serif;
    font-size: $sizeA;
  }
}

.mainInterno {
  h1 {
    text-align: $centro;
    font-weight: $negrita;
  }
}
