@import "variables";
@import "media";
@import "general";
@import "tipografia";
@import "colores";
@import "imagenes";

header {
  grid-area: header;
}

.carrousel {
  padding-top: 2rem;
}

.home {
  padding: 6rem 0px;
}

footer {
  padding: 1rem;
  width: 100%;
  bottom: 0px;

  section {
    display: flex;
    justify-content: space-evenly;
  }

}

.grilla {
  display: grid;
  grid-template-areas:
    "header"
    "carrousel"
    "home"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.formContacto {
  font-size: $sizeForm;
  display: flex;
  justify-content: $centro;
}