@import "variables";
@import "mixins";
@import "media";
@import "general";
@import "tipografia";
@import "colores";
@import "imagenes";

.carrousel {
  padding-top: 2rem;
}

.home {
  padding: 6rem 0px;
}

footer {
  padding: 1rem;
  width: 100%;
  bottom: 0px;

  section {
    display: flex;
    justify-content: space-evenly;
  }

}

.formContacto {
  font-size: $sizeForm;
  display: flex;
  justify-content: $centro;
}