* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

header {
  width: 100%;
  position: fixed;
  grid-area: header;
}

footer {
  padding: 1rem;
  background-color: peru;
  position: absolute;
  bottom: 0;
  width: 100%;
}

p{
    font-size: 12px;
}

.textNav{
    font-size: 1.5rem;
}

.inputNav, .btNav{
    font-size: 1.5rem;
}

.bg {
  background-color: peru;
}

.boton {
  background-color: white;
  border: 1px solid black;
}

.boton:hover {
  background-color: white;
}

.cardImg {
  width: 100%;
  height: 50%;
}

.imagenes {
  height: 20rem;
  width: 20rem;
  display: grid;
  margin: 0 auto;
}

.redes {
  display: flex;
  justify-content: space-evenly;
}

.icon {
  height: 10rem;
  width: 10rem;
}

.home {
  padding-top: 6rem;
  grid-area: home;
}

.mainInterno {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem ;
}
